@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: 'JetBrains Mono';
  color: #cdd6f4;
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
  width: 100%;
  height: 100%;

  background: #1e1e2e;  
}

a {
  text-decoration: none;
} a:hover {
  transform: scale(1.2);
  color: #bac2de;
}


nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 1em; padding-bottom: 1em;
  border-bottom: 2px #6c7086 solid;
  margin-bottom: 20px;
}

.center-text {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.center-text h1, .center-text h2 {
  margin-bottom: 15px;
}

.center-text p {
  margin: 8px 35em;
}

#service {
  padding: 20px;
  background-color: #181825;
}

.service-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  row-gap: 20px;
}

.box-service {
  width: 200px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 50px;
  border: 8px #11111b solid;
  border-radius: 10px;
  background-image: url(/img/web.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-color: rgba(17, 17, 27, 1);
}

.box-service :hover {
  transition: 0.1s;
  transform: scale(1.1);
}