@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: 'JetBrains Mono', monospace;
  color: #cdd6f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #1e1e2e;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 1em 0;
  border-bottom: 2px solid #6c7086;
  margin-bottom: 25px;
}

nav a {
  text-decoration: none;
  color: #cdd6f4;
  transition: 0.2s ease;
}

nav a:hover {
  transform: scale(1.1);
  color: #bac2de;
}

/* ====== Linhas divisórias ====== */
hr {
  border: none;
  border-top: 2px solid #6c7086;
  margin: 25px auto;
  width: 80%;
}

.center-text {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.center-text h1, 
.center-text h2, 
.center-text h3 {
  margin-bottom: 15px;
}

.center-text p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
  text-align: center;
}

.profile {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 50px auto;
  padding: 0 20px;
}

.profile h1, .profile h2 {
  color: #cdd6f4;
  margin-bottom: 15px;
}

.profile img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 15px 0;
  border: 4px solid #11111b;
}

.profile p {
  font-size: 18px;
  line-height: 1.6;
  color: #cdd6f4;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

#service {
  padding: 40px 20px;
  background-color: #181825;
}

#service h2 {
  margin-bottom: 25px;
}

.service-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  row-gap: 20px;
}

.box-service {
  width: 200px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  border: 8px #11111b solid;
  border-radius: 10px;
  background-image: url(/img/web.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-color: rgba(17, 17, 27, 1);
  transition: 0.1s;
}

.box-service:hover {
  transform: scale(1.1);
}
